<launch>   
    <!--1.启动主乌龟GUI 和 主乌龟控制-->
    <node pkg="turtlesim" type="turtlesim_node" name="turtle1" output="screen" />
    <node pkg="turtlesim" type="turtle_teleop_key" name="turtle1_teleop" output="screen" />

    <!--2.生成从乌龟的节点-->
    <node pkg="tf04_turtle_tracking" type="draw_another_turtle" name="turtle2" output="screen" />

</launch>